@import "tailwindcss";

/* Essential color palette */
:root {
    /* ROOT */
    --white: #ffffff;
    --neutral-100: #f3f4f6;
    --neutral-200: #e5e7eb;
    --neutral-300: #d1d5db;
    --neutral-500: #6b7280;
    --neutral-700: #374151;
    --neutral-800: #1f2937;

    --primary: #5b21b6;
    --secondary: #2dd4bf;
    --shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);


    /* Modal Component Colors */
    --modal-primary: #5b21b6;
    --modal-primary-hover: #4c1d95;
    --modal-secondary: #2dd4bf;
    --modal-secondary-hover: #14b8a6;

    --modal-header-bg: #5b21b6;
    --modal-header-text: #ffffff;
    --modal-footer-bg: #f3f4f6;

    --modal-neutral-100: #f3f4f6;
    --modal-neutral-200: #e5e7eb;
    --modal-neutral-300: #d1d5db;
    --modal-neutral-700: #374151;
    --modal-neutral-800: #1f2937;

    --modal-white: #ffffff;
    --modal-overlay: rgba(0, 0, 0, 0.65);
    --modal-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

    /* Badge colors */
    --badge-primary: #3b82f6;
    --badge-secondary: #6b7280;
    --badge-success: #10b981;
    --badge-danger: #ef4444;
    --badge-warning: #f59e0b;
    --badge-info: #0ea5e9;
    --badge-white: white;

    /* Card Component Colors */

    --card-radius: 12px;

    --card-bg: var(--white);
    --card-border: var(--neutral-200);
    --card-shadow: var(--shadow);

    --card-primary-bg: var(--primary);
    --card-primary-color: var(--white);

    --card-secondary-bg: var(--secondary);
    --card-secondary-color: var(--white);

    /*    Input Component Colors*/
    --input-border: var(--neutral-300, #d1d5db);
    --input-bg: var(--white, #ffffff);
    --input-text: var(--neutral-800, #1f2937);
    --input-focus-ring: rgba(91, 33, 182, 0.25);
    --input-error: #ef4444;
    --input-error-ring: rgba(239, 68, 68, 0.25);
    --input-disabled-bg: var(--neutral-100, #f3f4f6);
    --input-disabled-text: var(--neutral-300, #9ca3af);


    /* List Component Colors */
    --list-primary: #ff4d4f;
    --list-medium: #faad14;
    --list-low: #52c41a;
    --list-default: #d9d9d9;
    --list-progress-bar-outer: #e0e4eb;
    --list-progress-bar-inner-high: #52c41a;
    --list-progress-bar-inner-medium: #7b68ee;
    --list-progress-bar-inner-low: #faad14;
    --list-progress-label-light: #5e6577;
    --list-expand-button: #7f8595;
    --list-expand-button-hover: #7b68ee;
    --list-subtask-indicator: #7f8595;
    --list-action-button: #7f8595;
    --list-action-button-hover-bg: #f0f2f5;
    --list-action-button-hover-color: #7b68ee;

}
