{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "useTabs": false,
  "tailwindFunctions": ["cn", "clsx", "classnames"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
